*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px 10px 20px;
    color: white;
}
.nav-link{
    display: flex;
    gap: 40px;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    color: white;
}
/* main style  */
main{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.welcome{
 display: flex;
 flex-direction: column;
 gap: 20px;
 justify-content: center;
  background-image: url("images/pexels-wolfgang-1002140-2747449.jpg");
  background-size: cover;
  align-items: center;
  height: 40vh;
  color: white;
}
.category{
display: flex;
justify-content: space-evenly;
gap: 20px;
}
.category button{
    width: 100px;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 5px;
    border: none;
}
.event-cards{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.event-card{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 2px;
     border-radius: 5px;
     padding: 10px;
    box-shadow: 1px 1px 5px 1px #ccc;
    }
.event-card img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.event-card-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.event-card-button{
    background-color: aquamarine;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* footer */


